:root {
  --max-width: 1200px;
  --border-radius: 16px;

  --color-rgb: 35, 23, 13;
  --background-rgb: 239, 237, 231;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-rgb: 239, 237, 231;
    --background-rgb: 35, 23, 13;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--color-rgb));
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
