:root {
  --max-width: 1310px;
  --border-radius: 16px;

  --clr-dark: 35, 23, 13;
  --clr-light: 239, 237, 231;
  --clr-black: 24, 24, 24;
  --clr-white: 238, 238, 238;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-rgb: 239, 237, 231;
    --background-rgb: 35, 23, 13;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--clr-dark));
  background-color: rgb(var(--clr-light));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
